<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.trial.custom_camera"
    version="1.0">

    <name>Custom Camera</name>
    <description>Custom Camera Plugin</description>
    <license>Apache 2.0</license>
    <keywords>custom,camera</keywords>

<js-module src="www/js/customcamera.js" name="customCamera">
    <clobbers target="navigator.customCamera" />
</js-module>

<platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CustomCamera">
            <param name="android-package" value="com.performanceactive.plugins.camera.CustomCamera"/>
        </feature>
    </config-file>
    <source-file src="platforms/android/src/com/trial/custom_camera/CustomCamera.java" target-dir="src/com/trial/custom_camera" />
    <source-file src="platforms/android/src/com/trial/custom_camera/CameraActivity.java" target-dir="src/com/trial/custom_camera" />
    <source-file src="platforms/android/src/com/trial/custom_camera/CameraPreview.java" target-dir="src/com/trial/custom_camera" />
</platform>

</plugin>